.focus__description {
    font-size: 30px;
    margin-bottom: 50px;
}

.focus__list {
    display: flex;
    width: 100%;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.focus__list .focus__card {
    background: var(--card-bg-color);
    border-bottom: 3 px solid var(--second-color);
    padding: 50px;
    border-radius: 6px;
    box-shadow: var(--box-shadow);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 265px;
    width: 100%;
}

.focus__card .item__icon {
    color: var(--second-color);
    font-size: 48px;
    margin-bottom: 20px;
    transition: .3s linear;
}

.focus__card h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 20px;
}

.learn__more-btn {
    display: flex;
    gap: 5px;
    align-items: center;
    cursor: pointer;
    color: var(--third-color);
}

.learn__more-icon {
    transition: .3s linear;
}

.focus__card:hover .learn__more-icon {
    transform: translateX(10px);
}

.focus__modal {
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    padding: 20px;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px);
    background: var(--bg-transparent-color);
    visibility: hidden;
    opacity: 0;
}

.focus__modal.active {
    visibility: visible;
    opacity: 1;
    transition: .3s linear;
}

.focus__modal-body {
    max-width: 600px;
    position: relative;
    padding: 40px;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    background: var(--modal-bg-color);
    transform: translateY(-50px);
    transition: .5s linear;
}

.focus__modal.active .focus__modal-body {
    transform: translateY(0);
}

.focus__modal-body>.modal__close-btn {
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
    cursor: pointer;
    z-index: 2;
}

.focus__modal-body h3 {
    font-size: 30px;
}

.focus__modal-body h4 {
    font-size: 20px;
    font-weight: 600;
    margin: 15px 0 10px;
}

.focus__modal-body li {
    color: var(--second-color);
    margin-top: 15px;
    display: flex;
    align-items: center;
    gap: 5px;
}