
.about__inner {
    display: flex;
    align-items: center;
    gap: 40px;
}

.inner__title,
.inner__second-title {
  text-align: center;
}

.about__img {
    max-width: 500px;
    width: 100%;
}

.about__img img {
    border-radius: 10px;
}

.about__info {
    max-width: 600px;
    width: 100%;
}

.description h3 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 10px;
}

.description h3 span {
    color: var(--second-color);
}

.description p {
    color: var(--third-color);
    font-size: var(--normal-font-size);
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 2px solid var(--liner-color);
}

.professional__list {
    display: flex;
    column-gap: 30px;
}

.professional__list .list__item {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
    margin-bottom: 20px;
}

.list__item .number {
    font-size: 40px;
    font-weight: 700;
}

.list__item .text {
    color: var(--third-color);
    font-size: var(--small-font-size);
}

@media (max-width: 768px) {
    .about__img {
        display: none;
    }
}

@media (max-width: 480px) {
    .professional__list{
        column-gap: 5px;
    }
}