.home {
    padding: 80px 0;
    min-height: 100vh;
    background-image: url(../../assets/images/hero__img.webp);
    background-repeat: no-repeat;
    background-position: 103% 25%;
}

.home__inner {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 60px;
    padding: 120px 0 100px;
}

.media__icons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.media__icons a {
    color: var(--second-color);
    font-size: 32px;
}

.media__icons a:hover {
    color: var(--first-color);
}

.home__info h1 {
    font-size: 60px;
    font-weight: 600;
    line-height: 1.2;
}

.home__info h3 {
    color: var(--third-color);
    font-size: 30px;
    font-weight: 600;
    line-height: 2;
}

.home__info p {
    font-size: var(--normal-font-size);
    columns: var(--third-color);
    max-width: 350px;
    width: 100%;
}

.inner__info-link {
    background: var(--second-color);
    color: #fff;
    font-size: var(--normal-font-size);
    font-weight: 500;
    display: inline-block;
    margin-top: 25px;
    padding: 20px 30px;
    letter-spacing: 1px;
    border-radius: 10px;
}

.inner__info-link svg {
  margin-bottom: -3px;
  margin-left: 10px;
}

.inner__info-link:hover {
    background: var(--hover-color);
}

.scroll__down {
    display: block;
    margin: 20px auto 0;
    width: 120px;
    text-align: center;
    color: var(--first-color);
    font-size: var(--normal-font-size);
    font-weight: 500;
    transition: .4s ease-out;
}

.scroll__down:hover {
  color: var(--hover-color);
  transform: scale(1.05);
}

.scroll__down svg {
    color: var(--second-color);
    font-size: 18px;
    animation: arrow__down ease 2s infinite;
}

@keyframes arrow__down {
    0% {
        transform: translateY(0);
    }

    30% {
        transform: translateY(10px);
    }
}



@media (max-width:1070px) {
    .home__info h1 {
        font-size: 45px;
    }
    .home__img {
        order: 1;
    }

    .home__img img {
        margin: 0 auto;
    }

    .home__info {
        order: 2;
    }

    .media__icons {
        gap: 40px;
        margin-left: 20px;
    }
}

@media (max-width:768px) {
    .home {
        background-position: top;
    }
} 

@media (max-width:480px) {
    .home {
    background-position: 75% -95%;
    }
    .home__inner {
        gap: 20px;
    }
    .home__info h3 {
        line-height: 1.3;
        margin-bottom: 10px;
    }
}