.header {
  position: fixed;
  z-index: 10;
  left: 0;
  width: 100%;
  backdrop-filter: blur(20px);
  transition: .6s linear;
}

.header.sticky {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: var(--box-shadow);
}

.header .logo {
  color: var(--first-color);
  font-weight: 600;
  position: relative;
}

.header .logo::after {
  content: 'IN PROGRESS';
  position: absolute;
  left: 10px;
  bottom: -20px;
  background-color: yellow;
  width: 200px;
  height: 30px;
  transform: rotate(-40deg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: .4s linear;
  padding: 18px 0;
}

.header.sticky .header__inner {
  padding: 10px 0;
}

