.footer {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 60px 0 20px;
  background: var(--second-color);
  color: #fff;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
}

.about__group h2 {
  font-size: 35px;
  font-weight: 600;
  opacity: 0.8;
  background: linear-gradient(to top, transparent 0%, #fff 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about__group p {
  font-size: var(--normal-font-size);
  font-weight: 300;
  margin-bottom: 30px;
}

.about__group a:hover {
  color: #ccc;
}

.info__group li {
  cursor: pointer;
}

.info__group,
.follow__group {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.info__group h3,
.follow__group h3 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 30px;
}

.info__group ul,
.follow__group ul {
  display: flex;
  gap: 30px;
}

.info__group a {
  text-transform: uppercase;
  padding: 10px;
}

.follow__group a {
  font-size: 24px;
  padding: 10px;
}

.footer__copyright {
  font-size: var(--normal-font-size);
  font-weight: 300;
  text-align: center;
  margin-top: 30px;
  padding: 0 15px;
}

@media (max-width: 768px) {
  .footer__inner {
    flex-direction: column;
    gap: 15px;
  }
  .about__group {
    text-align: center;
    position: relative;
  }
  .about__group::after,
  .info__group::after {
    content: "";
    position: absolute;
    bottom: -7px;
    left: 0;
    width: 100%;
    background-color: #ccc;
    height: 2px;
  }
  .info__group,
  .follow__group {
    position: relative;
    padding: 1rem 0;
  }
}

@media (max-width: 480px) {
  .inner__title {
    font-size: 50px;
  }

  .about__group {
    text-align: left;
  }

  .info__group,
  .follow__group {
    align-items: flex-start;
  }

  .info__group ul,
  .follow__group ul {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  .info__group a {
    padding: 10px 0;
  }
}
