.get__touch {
  padding: 60px 20px;
}

.get__touch .contact__card {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  position: relative;
  width: 90%;
  padding: 50px;
  border-radius: 10px;
  column-gap: 50px;
  background: var(--bg-transparent-color);
  box-shadow: var(--box-shadow);
}

.contact__card .title {
  text-transform: uppercase;
  line-height: 1.5;
}

.contact__card h4 {
  font-size: 22px;
  font-weight: 300;
  line-height: 1.2;
}

.contact__card h3 {
  font-size: 36px;
  font-weight: 400;
}

.contact__card h2 {
  font-size: 72px;
  font-weight: 700;
  background: linear-gradient(to top, transparent 0%, var(--first-color) 30%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0.9;
}

.get__touch-link {
  margin-top: 0;
  margin-bottom: 22px;
}

@media (max-width: 980px) {
  .get__touch .contact__card {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .contact__card h2 {
    font-size: 50px;
  }
  .contact__card h3 {
    font-size: 28px;
  }
}

@media (max-width: 480px) {
  .contact__card h2 {
    font-size: 24px;
  }
  .contact__card h3 {
    font-size: 24px;
  }
}
