.nav {
  flex: 1;
  display: flex;
  justify-content: center;
}

.nav__menu {
  display: flex;
  gap: 50px;
}

.nav__link {
  font-weight: 500;
  text-transform: capitalize;
  color: var(--first-color);
  font-size: var(--normal-font-size);
  transition: .3s linear;
}

.nav__link:hover {
  color: var(--second-color);
}

.nav__menu-btn {
  display: none;
}

@media (max-width:980px) {

    .nav__menu-btn {
        display: block;
        position: relative;
        z-index: 5;

        width: 40px;
        height: 40px;
        cursor: pointer;
        transition: .3s linear;
    }

    .nav__menu-btn > svg {
      font-size: 40px;
    }
    .nav {
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        align-items: center;
        background: var(--bg-transparent-color-01);
        visibility: hidden;
        opacity: 0;
        z-index: -1;
        transition: .3s linear;
    }

    .nav.active {
        z-index: 3;
        opacity: 1;
        visibility: visible;
    }

    .nav__menu {
        position: relative;
        flex-direction: column;
        max-width: 600px;
        width: 100%;
        margin: 20px;
        padding: 40px;
        background: var(--modal-bg-color);
        border-radius: 10px;
        transform: translateY(-50%);
        transition: .3s linear;
    }

    .nav__menu.active {
        transform: translateY(0%);
    }

    .nav__menu li {
        text-align: center;
    }
  }